$color-theme: #0080ff;
$color-press: #006cd8;
$color-bg: #f7f7f7;
$color-title: #333333;
$color-text: #666666;
$color-subtitle: #999999;
$color-white:#ffffff;
$color-tips:#BBBBBB;
$color-job:#444444;

$color-tip:#cccccc;
$color-warn: #f32d13;
$color-hover: #fafafa;
$color-line: #e5e5e5;
$btn-disabled:#cccccc;

$font-slarge:36px;
$font-super:24px;
$font-large: 20px;
$font-sublarge: 18px;
$font-normal: 16px;
$font-mid: 15px;
$font-submid: 14px;
$font-small: 12px;
